/* Navigation*/

body, .nav-wrapper {
    font-family: 'inter', sans-serif;
    padding-bottom: 100px;
}

.round-corners {
    border-radius: 20px;
}


.nav-wrapper {
    padding: 0 20px;
}

/* Custom search icon animation */
.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 35px;
    padding: 2px 10px;
    margin-top: 12px;
    height: 40px;
    position: relative; 
    overflow: hidden; 
}

.search-bar input[type="search"] {
    border: none;
    outline: none;
    padding: 0;
    font-size: 15px;
    background-color: transparent;
    height: 35px;
    line-height: inherit;
    width: 0; 
    transition: width 0.4s ease; 
}

.search-bar .label-icon {
    margin-right: 6px;
}

.search-bar:hover input[type="search"] {
    width: 150px; 
}

.search-icon {
    color: #2196F3 !; 
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: color 0.4s ease; 
}

/* Target the search icon within the search bar */
.search-bar .label-icon i {
    color: #2196F3 !important; /* Change icon color to blue */
    transition: color 0.4s ease;
}

/* Change icon color to darker blue on hover */
.search-bar:hover .label-icon i {
    color: #1976d2 !important;
}


/* Custom CSS to hide underline of search input */
.no-outline {
    border: none !important;
    box-shadow: none !important;
}

/* Hide the input underline */
.search-bar input[type="search"] {
    border: none;
    outline: none;
    padding: 0;
    font-size: 15px;
    background-color: transparent;
    height: 35px;
    line-height: inherit;
}

/* Darker background for mobile and tablet */
@media (max-width: 992px) {
    .search-bar {
        background-color: #161616; /* Darker background color */
        width: 90%; /* Reduce width for better flexibility */
        padding: 2px 10px;
        margin: 0 auto; /* Center the search bar */
        margin-top: 10px;
    }

    .search-bar input[type="search"] {
        color: white; /* White text color */
        font-size: 18px; /* Adjust font size for mobile */
        height: 45px; /* Adjust input height for mobile */
    }

    .search-bar .label-icon i {
        color: white !important; /* White icon color */
        font-size: 24px; /* Increase icon size for mobile */
    }

    .search-bar .label-icon {
        margin-right: 10px; /* Adjust margin for mobile */
    }
}
/* Custom styles for dropdown */
.dropdown-content {
    min-width: 150px;
    border: 1px solid #ADD8E6; 
    border-radius: 5px; 
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0 2px 10px 0px rgba(0, 0, 0, 0.12);
    z-index: 100; /* Adjust the z-index value as needed */
}


.dropdown-content li > a, .dropdown-content li > span {
    color: #1976d2; 
}

/* Custom styles for navigation items */
.right li a:hover {
    border-bottom: 2px solid #64b5f6;
    background-color: transparent;
    color: #64b5f6;
}

/* Remove hover effect for dropdown trigger */
.dropdown-trigger:hover {
    border-bottom: none;
}

/* Remove scrollbar from dropdown content */
.dropdown-content {
    overflow: hidden;
}

/* Styling for submenus */
.submenu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ddd;
    z-index: 1000; /* Increase the z-index value */
    color: #000;
}

/* Styling for Marketplace submenu */
.marketplace-submenu {
    min-width: 180px; /* Increase the minimum width */
}

.submenu li {
    display: block;
}

.submenu li a {
    padding: 10px;
    display: block;
    color: #000;
    text-decoration: none;
}

.submenu li a:hover {
    background-color: #f4f4f4;
}

.show {
    display: block;
}

/* Ensure submenus stay on top of other elements */
.submenu.show {
    z-index: 1000;
}

.sidenav .collapsible-header {
    display: flex;
    align-items: center;
    color: black; /* Ensure text is black */
}
.sidenav .collapsible-body ul li a {
    padding-left: 35px;
    color: black; /* Ensure text is black */
}
.sidenav a {
    color: black !important; /* Ensure all links in the sidenav are black */
}
.sidenav .collapsible-header i.material-icons.left {
    margin-right: 10px;
}
.sidenav li a {
    display: flex;
    align-items: center;
    height: 48px;
}
.sidenav li a, .sidenav .collapsible-header {
    line-height: 48px; /* Align items vertically */
    padding: 0 16px; /* Ensure even padding */
}

/* Style for tabs */
.tabs .tab a {
    color: #000 !important;
    background-color: transparent !important;
    border-bottom: 2px solid #00bcd4;
    transition: border-bottom-color 0.3s, color 0.3s;
}

/* Hover effect for tabs */
.tabs .tab a:hover {
    border-bottom-color: #00bcd4;
}


/* footer */
#main-footer {
    background-color: #161616;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none
}

.social-icons {
    margin-top: 5px;
}

.social-icons a {
    color: white;
    margin: 0 5px;
    font-size: 16px;
}

/* Home page*/
.hero-section {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 20px; /* Added margin-top */
}
.hero-section img {
    width: 95%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    margin: 0 auto;
    display: block;
}
.hero-overlay {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 500px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}
.hero-overlay div {
    transform: translateY(-10%);
}
.hero-overlay h1 {
    font-size: 3em;
    font-weight: 500; /* Make the text bold */
    margin-bottom: 20px;
}
.hero-overlay p {
    font-size: 1.5em;
}

.feature-section {
    padding: 50px 0;
    background-color: #f9f9f9;
}

.feature-section .text-content {
    margin-top: 50px; /* Adjust this value as needed */
}

.feature-section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.feature-section p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.image-right-margin {
    margin-left: 180px; /* Adjust the value to push the image further to the right */
}
.bottom-image-section {
    background: #0d0d0d; /* Dark background color */
    padding: 40px 0; /* Vertical padding */
    text-align: center; /* Center align text */
    color: white; /* White text color */
    position: relative; /* Create a positioning context */
}

.bottom-image-section img {
    max-width: 100%; /* Ensure images are responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: Rounded corners for images */
    margin-bottom: 20px; /* Space between images */
}

.larger-image {
    width: 60%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto; /* Center the image */
}

.small-image, .smaller-image {
    width: 15%; /* Adjust width as needed for smaller images */
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Absolute positioning */
}
.smaller-image {
    width: 22%; /* Adjust width as needed for smaller images */
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Absolute positioning */
}

.small-image {
    top: 20%;
    left: 13%;
}

.smaller-image {
    top: 20%;
    right: 8%;
}

.image-row {
    display: flex;
    justify-content: center; /* Center the larger image */
    align-items: center;
    position: relative; /* Create a positioning context */
}

.blurr-text p{
    font-size: 1.5rem;
}

/* Buying */

.feature-sections {
    padding: 50px 0;
    background-color: #f9f9f9;
}

.feature-sections .text-content {
    margin-top: 150px; /* Adjust this value as needed */
}

.feature-sections h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.feature-sections p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.image-right-margin {
    margin-left: 180px; /* Adjust the value to push the image further to the right */
}

/* still on buying just changing colors  */
.feature-sectionz {
    padding: 50px 0;
    background-color: #1cbde6;
    color: #fff;
}

.feature-sectionz .text-content {
    margin-top: 150px; /* Adjust this value as needed */
}

.feature-sectionz h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.feature-sectionz p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.image-right-margin {
    margin-left: 180px; /* Adjust the value to push the image further to the right */
}

.blurred-text-section {
    background: #222222; /* Light background color */
    padding: 40px 0; /* Vertical padding */
    text-align: center; /* Center align text */
    color: #ddd;
    
}

.blurred-text p{
    font-size: 2.5rem;
}


/* FAQ */
.faq-section {
    margin-top: 2rem;
  }
  
  .faq-header {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .collapsible-header {
    background-color: #222222;
    color: white;
    cursor: pointer;
    padding: 2.5rem;
    border-radius: 15px;
  }
  
  .collapsible-body {
    padding: 1rem;
  }
  
  .collapsible-header:hover {
    background-color: #2196f3;
  }

/* Get in touch */
  .btn-submit {
    background-color: #2196F3 !important;
    color: #fff !important;
    font-weight: bold;
    border-radius: 15px;
}
.get-in-touch {
    padding-left: 40px;
}
.social-icons i {
    margin-right: 15px;
}
.input-field.input-outlin input:focus:not([readonly]),
.input-field.input-outlin textarea:focus:not([readonly]),
.input-field.input-outlin email:focus:not([readonly]) {
    border-color: #2196F3;
    box-shadow: 0 1px 0 0px #2196F3;
}
.input-field.input-outlin input:focus:not([readonly]) + label,
.input-field.input-outlin textarea:focus:not([readonly]) + label,
.input-field.input-outlin email:focus:not([readonly]) + label
 {
    color: #2196F3;
}
.contact-info {
    display: flex;
    flex-direction: column;
}
.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.contact-item i {
    margin-right: 10px;
} 